<!--main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dog Match App</title>

</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="index">
                    <img src="/img/dogMatchLogo.jpeg">
                </a>
            </div>
            <div class="clear"></div>
        </div>
        <div id="navbar" class="top">
            <ul>
                <li id="home-nav">
                    <a href="index">
                        <span class="holdertext">Home</span>
                    </a>
                </li>
                <li id="breeds-nav">
                    <a href="breeds">
                        <span class="holdertext">Breeds</span>
                    </a>
                </li>
                <li id="shelters-nav">
                    <a href="shelters">
                        <span class="holdertext">Shelters</span>
                    </a>
                </li>
                <li id="dogs-nav">
                    <a href="dogs">
                        <span class="holdertext">Dogs</span>
                    </a>
                </li>
                <li id="users-nav">
                    <a href="users">
                        <span class="holdertext">Users</span>
                    </a>
                </li>
                <li id="matches-nav">
                    <a href="matches">
                        <span class="holdertext">Matches</span>
                    </a>
                </li>
                <li id="adoptions-nav">
                    <a href="adoptions">
                        <span class="holdertext">Adoptions</span>
                    </a>
                </li>
                <li id="likes-nav">
                    <a href="dogs_has_users">
                        <span class="holdertext">Likes</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        {{{body}}}
    </div>

</body>
</html>