{{!-- // This module is adapted from the CS340 starter code with significant changes for enhanced functionality.  --}}
<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<html>
<head>
    <title>Index</title>
</head>
</body>

<h2>Database Administrator Portal Homepage</h2>
<p>Welcome to Dog Match, an OSU project that aims to help shelter dogs find their next home. You are currently on the Database Administrator Portal. 
</p>
<p>Use the pages to create, read, update, and delete data entries!</p>

</body>
</html>