<!-- index.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<html>
<head>
    <title>Index</title>
</head>
</body>

<h2>Index</h2>
<p>This page is used to navigate to pages for entities in the database and their respective CRUD operations
</p>
<ul>
    <li><a href="breeds">Breeds</a></li>
    <li><a href="shelters">Shelters</a></li>
    <li><a href="dogs">Dogs</a></li>
    <li><a href="users">Users</a></li>
    <li><a href="matches">Matches</a></li>
    <li><a href="adoptions">Adoptions</a></li>
    <li><a href="dogs_has_users">Dogs has users</a></li>
</ul>

</body>
</html>